mixin head()
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title Windmill Dashboard
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap' rel='stylesheet')
    link(rel='stylesheet' href=asset('app/css/tailwind/tailwind.output.css'))
    script(src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js' defer)
    script(src=asset('app/js/init-alpine.js'))
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js' defer)
    script(src=asset('app/js/charts-lines.js') defer)
    script(src=asset('app/js/charts-pie.js') defer)