doctype html
html(lang='en')
  include common/head.pug
  +head(title)
  body.bg-gray-100.font-family-karla.flex
    include common/sidebar.pug
    +sidebar()
    .relative.w-full.flex.flex-col.h-screen.overflow-y-hidden
      include common/header.pug
      +header() 
      .w-full.h-screen.overflow-x-hidden.border-t.flex.flex-col
        main.w-full.flex-grow.p-6
          h1.text-3xl.text-black.pb-6 Blank Page
          //  Content goes here! 😁 
        include common/footer.pug
        +footer()