doctype html
html(:class='{ \'theme-dark\': dark }' x-data='data()' lang='en')
  include common/head.pug
  +head(title)
  body
    .flex.h-screen.bg-gray-50.dark_bg-gray-900(:class='{ \'overflow-hidden\': isSideMenuOpen }')
      include common/sidebar.pug
      +sidebar()
      .flex.flex-col.flex-1.w-full
        include common/header.pug
        +header()
        main.h-full.pb-16.overflow-y-auto
          //  Remove everything INSIDE this div to a really blank page 
          .container.px-6.mx-auto.grid
            h2.my-6.text-2xl.font-semibold.text-gray-700.dark_text-gray-200.
              
              Blank
              
