doctype html
html(:class='{ \'theme-dark\': dark }' x-data='data()' lang='en')
  include common/head.pug
  +head(title)
  body
    .flex.h-screen.bg-gray-50.dark_bg-gray-900(:class='{ \'overflow-hidden\': isSideMenuOpen }')
      include common/sidebar.pug
      +sidebar()
      .flex.flex-col.flex-1.w-full
        include common/header.pug
        +header()
        main.h-full.pb-16.overflow-y-auto
          .container.px-6.mx-auto.grid
            h2.my-6.text-2xl.font-semibold.text-gray-700.dark_text-gray-200.
              
              Forms
              
            //  CTA 
            a.flex.items-center.justify-between.p-4.mb-8.text-sm.font-semibold.text-purple-100.bg-purple-600.rounded-lg.shadow-md.focus_outline-none.focus_shadow-outline-purple(href='https://github.com/estevanmaito/windmill-dashboard')
              .flex.items-center
                svg.w-5.h-5.mr-2(fill='currentColor' viewBox='0 0 20 20')
                  path(d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z')
                span Star this project on GitHub
              span View more →
            //  General elements 
            h4.mb-4.text-lg.font-semibold.text-gray-600.dark_text-gray-300.
              
              Elements
              
            .px-4.py-3.mb-8.bg-white.rounded-lg.shadow-md.dark_bg-gray-800
              label.block.text-sm
                span.text-gray-700.dark_text-gray-400 Name
                input.block.w-full.mt-1.text-sm.dark_border-gray-600.dark_bg-gray-700.focus_border-purple-400.focus_outline-none.focus_shadow-outline-purple.dark_text-gray-300.dark_focus_shadow-outline-gray.form-input(placeholder='Jane Doe')
              .mt-4.text-sm
                span.text-gray-700.dark_text-gray-400.
                  
                  Account Type
                  
                .mt-2
                  label.inline-flex.items-center.text-gray-600.dark_text-gray-400
                    input.text-purple-600.form-radio.focus_border-purple-400.focus_outline-none.focus_shadow-outline-purple.dark_focus_shadow-outline-gray(type='radio' name='accountType' value='personal')
                    span.ml-2 Personal
                  label.inline-flex.items-center.ml-6.text-gray-600.dark_text-gray-400
                    input.text-purple-600.form-radio.focus_border-purple-400.focus_outline-none.focus_shadow-outline-purple.dark_focus_shadow-outline-gray(type='radio' name='accountType' value='busines')
                    span.ml-2 Business
              label.block.mt-4.text-sm
                span.text-gray-700.dark_text-gray-400.
                  
                  Requested Limit
                  
                select.block.w-full.mt-1.text-sm.dark_text-gray-300.dark_border-gray-600.dark_bg-gray-700.form-select.focus_border-purple-400.focus_outline-none.focus_shadow-outline-purple.dark_focus_shadow-outline-gray
                  option $1,000
                  option $5,000
                  option $10,000
                  option $25,000
              label.block.mt-4.text-sm
                span.text-gray-700.dark_text-gray-400.
                  
                  Multiselect
                  
                select.block.w-full.mt-1.text-sm.dark_text-gray-300.dark_border-gray-600.dark_bg-gray-700.form-multiselect.focus_border-purple-400.focus_outline-none.focus_shadow-outline-purple.dark_focus_shadow-outline-gray(multiple)
                  option Option 1
                  option Option 2
                  option Option 3
                  option Option 4
                  option Option 5
              label.block.mt-4.text-sm
                span.text-gray-700.dark_text-gray-400 Message
                textarea.block.w-full.mt-1.text-sm.dark_text-gray-300.dark_border-gray-600.dark_bg-gray-700.form-textarea.focus_border-purple-400.focus_outline-none.focus_shadow-outline-purple.dark_focus_shadow-outline-gray(rows='3' placeholder='Enter some long form content.')
              .flex.mt-6.text-sm
                label.flex.items-center.dark_text-gray-400
                  input.text-purple-600.form-checkbox.focus_border-purple-400.focus_outline-none.focus_shadow-outline-purple.dark_focus_shadow-outline-gray(type='checkbox')
                  span.ml-2
                    | 
I agree to the

                    span.underline privacy policy
            //  Validation inputs 
            h4.mb-4.text-lg.font-semibold.text-gray-600.dark_text-gray-300.
              
              Validation
              
            .px-4.py-3.mb-8.bg-white.rounded-lg.shadow-md.dark_bg-gray-800
              //  Invalid input 
              label.block.text-sm
                span.text-gray-700.dark_text-gray-400.
                  
                  Invalid input
                  
                input.block.w-full.mt-1.text-sm.border-red-600.dark_text-gray-300.dark_bg-gray-700.focus_border-red-400.focus_outline-none.focus_shadow-outline-red.form-input(placeholder='Jane Doe')
                span.text-xs.text-red-600.dark_text-red-400.
                  
                  Your password is too short.
                  
              //  Valid input 
              label.block.mt-4.text-sm
                span.text-gray-700.dark_text-gray-400.
                  
                  Valid input
                  
                input.block.w-full.mt-1.text-sm.border-green-600.dark_text-gray-300.dark_bg-gray-700.focus_border-green-400.focus_outline-none.focus_shadow-outline-green.form-input(placeholder='Jane Doe')
                span.text-xs.text-green-600.dark_text-green-400.
                  
                  Your password is strong.
                  
              //  Helper text 
              label.block.mt-4.text-sm
                span.text-gray-700.dark_text-gray-400.
                  
                  Helper text
                  
                input.block.w-full.mt-1.text-sm.dark_text-gray-300.dark_border-gray-600.dark_bg-gray-700.focus_border-purple-400.focus_outline-none.focus_shadow-outline-purple.dark_focus_shadow-outline-gray.form-input(placeholder='Jane Doe')
                span.text-xs.text-gray-600.dark_text-gray-400.
                  
                  Your password must be at least 6 characters long.
                  
            //  Inputs with icons 
            h4.mb-4.text-lg.font-semibold.text-gray-600.dark_text-gray-300.
              
              Icons
              
            .px-4.py-3.mb-8.bg-white.rounded-lg.shadow-md.dark_bg-gray-800
              label.block.text-sm
                span.text-gray-700.dark_text-gray-400 Icon left
                //  focus-within sets the color for the icon when input is focused 
                .relative.text-gray-500.focus-within_text-purple-600.dark_focus-within_text-purple-400
                  input.block.w-full.pl-10.mt-1.text-sm.text-black.dark_text-gray-300.dark_border-gray-600.dark_bg-gray-700.focus_border-purple-400.focus_outline-none.focus_shadow-outline-purple.dark_focus_shadow-outline-gray.form-input(placeholder='Jane Doe')
                  .absolute.inset-y-0.flex.items-center.ml-3.pointer-events-none
                    svg.w-5.h-5(aria-hidden='true' fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24' stroke='currentColor')
                      path(d='M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z')
              label.block.mt-4.text-sm
                span.text-gray-700.dark_text-gray-400 Icon right
                //  focus-within sets the color for the icon when input is focused 
                .relative.text-gray-500.focus-within_text-purple-600.dark_focus-within_text-purple-400
                  input.block.w-full.pr-10.mt-1.text-sm.text-black.dark_text-gray-300.dark_border-gray-600.dark_bg-gray-700.focus_border-purple-400.focus_outline-none.focus_shadow-outline-purple.dark_focus_shadow-outline-gray.form-input(placeholder='Jane Doe')
                  .absolute.inset-y-0.right-0.flex.items-center.mr-3.pointer-events-none
                    svg.w-5.h-5(aria-hidden='true' fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24' stroke='currentColor')
                      path(d='M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z')
            //  Inputs with buttons 
            h4.mb-4.text-lg.font-semibold.text-gray-600.dark_text-gray-300.
              
              Buttons
              
            .px-4.py-3.mb-8.bg-white.rounded-lg.shadow-md.dark_bg-gray-800
              label.block.text-sm
                span.text-gray-700.dark_text-gray-400.
                  
                  Button left
                  
                .relative
                  input.block.w-full.pl-20.mt-1.text-sm.dark_text-gray-300.dark_border-gray-600.dark_bg-gray-700.focus_border-purple-400.focus_outline-none.focus_shadow-outline-purple.dark_focus_shadow-outline-gray.form-input(placeholder='Jane Doe')
                  button.absolute.inset-y-0.px-4.text-sm.font-medium.leading-5.text-white.transition-colors.duration-150.bg-purple-600.border.border-transparent.rounded-l-md.active_bg-purple-600.hover_bg-purple-700.focus_outline-none.focus_shadow-outline-purple.dark_focus_shadow-outline-gray.
                    
                    Click
                    
              label.block.mt-4.text-sm
                span.text-gray-700.dark_text-gray-400.
                  
                  Button right
                  
                .relative.text-gray-500.focus-within_text-purple-600
                  input.block.w-full.pr-20.mt-1.text-sm.text-black.dark_text-gray-300.dark_border-gray-600.dark_bg-gray-700.focus_border-purple-400.focus_outline-none.focus_shadow-outline-purple.dark_focus_shadow-outline-gray.form-input(placeholder='Jane Doe')
                  button.absolute.inset-y-0.right-0.px-4.text-sm.font-medium.leading-5.text-white.transition-colors.duration-150.bg-purple-600.border.border-transparent.rounded-r-md.active_bg-purple-600.hover_bg-purple-700.focus_outline-none.focus_shadow-outline-purple.
                    
                    Click
                    
