doctype html
html(lang='en')
  include common/head.pug
  +head(title)
  body.bg-gray-100.font-family-karla.flex
    include common/sidebar.pug
    +sidebar()
    .w-full.flex.flex-col.h-screen.overflow-y-hidden
      include common/header.pug
      +header()
      .w-full.overflow-x-hidden.border-t.flex.flex-col
        main.w-full.flex-grow.p-6
          h1.text-3xl.text-black.pb-6 Dashboard
          .flex.flex-wrap.mt-6
            .w-full.lg_w-1_2.pr-0.lg_pr-2
              p.text-xl.pb-3.flex.items-center
                i.fas.fa-plus.mr-3
                |  Monthly Reports
              .p-6.bg-white
                canvas#chartOne(width='400' height='200')
            .w-full.lg_w-1_2.pl-0.lg_pl-2.mt-12.lg_mt-0
              p.text-xl.pb-3.flex.items-center
                i.fas.fa-check.mr-3
                |  Resolved Reports
              .p-6.bg-white
                canvas#chartTwo(width='400' height='200')
          .w-full.mt-12
            p.text-xl.pb-3.flex.items-center
              i.fas.fa-list.mr-3
              |  Latest Reports
            .bg-white.overflow-auto
              table.min-w-full.bg-white
                thead.bg-gray-800.text-white
                  tr
                    th.w-1_3.text-left.py-3.px-4.uppercase.font-semibold.text-sm Name
                    th.w-1_3.text-left.py-3.px-4.uppercase.font-semibold.text-sm Last name
                    th.text-left.py-3.px-4.uppercase.font-semibold.text-sm Phone
                    th.text-left.py-3.px-4.uppercase.font-semibold.text-sm Email
                tbody.text-gray-700
                  tr
                    td.w-1_3.text-left.py-3.px-4 Lian
                    td.w-1_3.text-left.py-3.px-4 Smith
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='tel:622322662') 622322662
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='mailto:jonsmith@mail.com') jonsmith@mail.com
                  tr.bg-gray-200
                    td.w-1_3.text-left.py-3.px-4 Emma
                    td.w-1_3.text-left.py-3.px-4 Johnson
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='tel:622322662') 622322662
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='mailto:jonsmith@mail.com') jonsmith@mail.com
                  tr
                    td.w-1_3.text-left.py-3.px-4 Oliver
                    td.w-1_3.text-left.py-3.px-4 Williams
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='tel:622322662') 622322662
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='mailto:jonsmith@mail.com') jonsmith@mail.com
                  tr.bg-gray-200
                    td.w-1_3.text-left.py-3.px-4 Isabella
                    td.w-1_3.text-left.py-3.px-4 Brown
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='tel:622322662') 622322662
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='mailto:jonsmith@mail.com') jonsmith@mail.com
                  tr
                    td.w-1_3.text-left.py-3.px-4 Lian
                    td.w-1_3.text-left.py-3.px-4 Smith
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='tel:622322662') 622322662
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='mailto:jonsmith@mail.com') jonsmith@mail.com
                  tr.bg-gray-200
                    td.w-1_3.text-left.py-3.px-4 Emma
                    td.w-1_3.text-left.py-3.px-4 Johnson
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='tel:622322662') 622322662
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='mailto:jonsmith@mail.com') jonsmith@mail.com
                  tr
                    td.w-1_3.text-left.py-3.px-4 Oliver
                    td.w-1_3.text-left.py-3.px-4 Williams
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='tel:622322662') 622322662
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='mailto:jonsmith@mail.com') jonsmith@mail.com
                  tr.bg-gray-200
                    td.w-1_3.text-left.py-3.px-4 Isabella
                    td.w-1_3.text-left.py-3.px-4 Brown
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='tel:622322662') 622322662
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='mailto:jonsmith@mail.com') jonsmith@mail.com
        include common/foote.pug
        +footer()
