doctype html
html(:class='{ \'theme-dark\': dark }' x-data='data()' lang='en')
  include common/head.pug
  +head(title)
  body
    .flex.h-screen.bg-gray-50.dark_bg-gray-900(:class='{ \'overflow-hidden\': isSideMenuOpen }')
      include common/sidebar.pug
      +sidebar()
      .flex.flex-col.flex-1.w-full
        include common/header.pug
        +header()
        main.h-full.pb-16.overflow-y-auto
          .container.grid.px-6.mx-auto
            h2.my-6.text-2xl.font-semibold.text-gray-700.text-gray-200.
              
              Modals
              
            //  CTA 
            a.flex.items-center.justify-between.p-4.mb-8.text-sm.font-semibold.text-purple-100.bg-purple-600.rounded-lg.shadow-md.focus_outline-none.focus_shadow-outline-purple(href='https://github.com/estevanmaito/windmill-dashboard')
              .flex.items-center
                svg.w-5.h-5.mr-2(fill='currentColor' viewBox='0 0 20 20')
                  path(d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z')
                span Star this project on GitHub
              span View more →
            .max-w-2xl.px-4.py-3.mb-8.bg-white.rounded-lg.shadow-md.bg-gray-800
              p.mb-4.text-gray-600.text-gray-400
                | This is possibly
                strong the most accessible a modal can get
                | , using JavaScript. When opened, it uses
                code assets/js/focus-trap.js
                | to create a
                em focus trap
                | , which means that if you use your keyboard to navigate around, focus won't leak to the elements behind, staying inside the modal in a loop, until you take any action.

              p.text-gray-600.text-gray-400.
                
                Also, on small screens it is placed at the bottom of the screen, to account for larger devices and make it easier to click the larger buttons.
                
            div
              button.px-4.py-2.text-sm.font-medium.leading-5.text-white.transition-colors.duration-150.bg-purple-600.border.border-transparent.rounded-lg.active_bg-purple-600.hover_bg-purple-700.focus_outline-none.focus_shadow-outline-purple(@click='openModal').
                
                Open Modal
                
    //  Modal backdrop. This what you want to place close to the closing body tag 
    .fixed.inset-0.z-30.flex.items-end.bg-black.bg-opacity-50.sm_items-center.sm_justify-center(x-show='isModalOpen' x-transition:enter='transition ease-out duration-150' x-transition:enter-start='opacity-0' x-transition:enter-end='opacity-100' x-transition:leave='transition ease-in duration-150' x-transition:leave-start='opacity-100' x-transition:leave-end='opacity-0')
      //  Modal 
      .w-full.px-6.py-4.overflow-hidden.bg-white.rounded-t-lg.bg-gray-800.sm_rounded-lg.sm_m-4.sm_max-w-xl#modal(x-show='isModalOpen' x-transition:enter='transition ease-out duration-150' x-transition:enter-start='opacity-0 transform translate-y-1/2' x-transition:enter-end='opacity-100' x-transition:leave='transition ease-in duration-150' x-transition:leave-start='opacity-100' x-transition:leave-end='opacity-0  transform translate-y-1/2' @click.away='closeModal' @keydown.escape='closeModal' role='dialog')
        //  Remove header if you don't want a close icon. Use modal body to place modal tile. 
        header.flex.justify-end
          button.inline-flex.items-center.justify-center.w-6.h-6.text-gray-400.transition-colors.duration-150.rounded.hover_text-gray-200.hover_.hover_text-gray-700(aria-label='close' @click='closeModal')
            svg.w-4.h-4(fill='currentColor' viewBox='0 0 20 20' role='img' aria-hidden='true')
              path(d='M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z' clip-rule='evenodd' fill-rule='evenodd')
        //  Modal body 
        .mt-4.mb-6
          //  Modal title 
          p.mb-2.text-lg.font-semibold.text-gray-700.text-gray-300.
            
            Modal header
            
          //  Modal description 
          p.text-sm.text-gray-700.text-gray-400.
            
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum et eligendi repudiandae voluptatem tempore!
            
        footer.flex.flex-col.items-center.justify-end.px-6.py-3.-mx-6.-mb-4.space-y-4.sm_space-y-0.sm_space-x-6.sm_flex-row.bg-gray-50.bg-gray-800
          button.w-full.px-5.py-3.text-sm.font-medium.leading-5.text-white.text-gray-700.transition-colors.duration-150.border.border-gray-300.rounded-lg.text-gray-400.sm_px-4.sm_py-2.sm_w-auto.active_bg-transparent.hover_border-gray-500.focus_border-gray-500.active_text-gray-500.focus_outline-none.focus_shadow-outline-gray(@click='closeModal').
            
            Cancel
            
          button.w-full.px-5.py-3.text-sm.font-medium.leading-5.text-white.transition-colors.duration-150.bg-purple-600.border.border-transparent.rounded-lg.sm_w-auto.sm_px-4.sm_py-2.active_bg-purple-600.hover_bg-purple-700.focus_outline-none.focus_shadow-outline-purple.
            
            Accept
            
    //  End of modal backdrop 
