doctype html
html(lang='en')
  include common/head.pug
  +head("Tables")
  body.bg-gray-100.font-family-karla.flex
    include common/sidebar.pug
    +sidebar()
    .relative.w-full.flex.flex-col.h-screen.overflow-y-hidden
      include common/header.pug
      +header()
      .w-full.h-screen.overflow-x-hidden.border-t.flex.flex-col
        main.w-full.flex-grow.p-6
          h1.text-3xl.text-black.pb-6 Tables
          .w-full.mt-6
            p.text-xl.pb-3.flex.items-center
              i.fas.fa-list.mr-3
              |  Table Example

            .bg-white.overflow-auto
              table.min-w-full.bg-white
                thead.bg-gray-800.text-white
                  tr
                    th.w-1_3.text-left.py-3.px-4.uppercase.font-semibold.text-sm Name
                    th.w-1_3.text-left.py-3.px-4.uppercase.font-semibold.text-sm Last name
                    th.text-left.py-3.px-4.uppercase.font-semibold.text-sm Phone
                    th.text-left.py-3.px-4.uppercase.font-semibold.text-sm.
                      Email
                      
                tbody.text-gray-700
                  tr
                    td.w-1_3.text-left.py-3.px-4 Lian
                    td.w-1_3.text-left.py-3.px-4 Smith
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='tel:622322662') 622322662
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='mailto:jonsmith@mail.com') jonsmith@mail.com
                  tr.bg-gray-200
                    td.w-1_3.text-left.py-3.px-4 Emma
                    td.w-1_3.text-left.py-3.px-4 Johnson
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='tel:622322662') 622322662
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='mailto:jonsmith@mail.com') jonsmith@mail.com
                  tr
                    td.w-1_3.text-left.py-3.px-4 Oliver
                    td.w-1_3.text-left.py-3.px-4 Williams
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='tel:622322662') 622322662
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='mailto:jonsmith@mail.com') jonsmith@mail.com
                  tr.bg-gray-200
                    td.w-1_3.text-left.py-3.px-4 Isabella
                    td.w-1_3.text-left.py-3.px-4 Brown
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='tel:622322662') 622322662
                    td.text-left.py-3.px-4
                      a.hover_text-blue-500(href='mailto:jonsmith@mail.com') jonsmith@mail.com
            p.pt-3.text-gray-600
              | Source: 
              a.underline(href='https://tailwindcomponents.com/component/striped-table') https://tailwindcomponents.com/component/striped-table
          .w-full.mt-12
            p.text-xl.pb-3.flex.items-center
              i.fas.fa-list.mr-3
              |  Table Example

            .bg-white.overflow-auto
              table.text-left.w-full.border-collapse
                // Border collapse doesn't work on this site yet but it's available in newer tailwind versions 
                thead
                  tr
                    th.py-4.px-6.bg-grey-lightest.font-bold.uppercase.text-sm.text-grey-dark.border-b.border-grey-light Name
                    th.py-4.px-6.bg-grey-lightest.font-bold.uppercase.text-sm.text-grey-dark.border-b.border-grey-light Last Name
                    th.py-4.px-6.bg-grey-lightest.font-bold.uppercase.text-sm.text-grey-dark.border-b.border-grey-light Phone
                    th.py-4.px-6.bg-grey-lightest.font-bold.uppercase.text-sm.text-grey-dark.border-b.border-grey-light Email
                tbody
                  tr.hover_bg-grey-lighter
                    td.py-4.px-6.border-b.border-grey-light Lian
                    td.py-4.px-6.border-b.border-grey-light Smith
                    td.py-4.px-6.border-b.border-grey-light 622322662
                    td.py-4.px-6.border-b.border-grey-light jonsmith@mail.com
                  tr.hover_bg-grey-lighter
                    td.py-4.px-6.border-b.border-grey-light Lian
                    td.py-4.px-6.border-b.border-grey-light Smith
                    td.py-4.px-6.border-b.border-grey-light 622322662
                    td.py-4.px-6.border-b.border-grey-light jonsmith@mail.com
                  tr.hover_bg-grey-lighter
                    td.py-4.px-6.border-b.border-grey-light Lian
                    td.py-4.px-6.border-b.border-grey-light Smith
                    td.py-4.px-6.border-b.border-grey-light 622322662
                    td.py-4.px-6.border-b.border-grey-light jonsmith@mail.com
                  tr.hover_bg-grey-lighter
                    td.py-4.px-6.border-b.border-grey-light Lian
                    td.py-4.px-6.border-b.border-grey-light Smith
                    td.py-4.px-6.border-b.border-grey-light 622322662
                    td.py-4.px-6.border-b.border-grey-light jonsmith@mail.com
            p.pt-3.text-gray-600
              | Source: 
              a.underline(href='https://tailwindcomponents.com/component/table') https://tailwindcomponents.com/component/table
          .w-full.mt-12
            p.text-xl.pb-3.flex.items-center
              i.fas.fa-list.mr-3
              |  Table Example

            .bg-white.overflow-auto
              table.min-w-full.leading-normal
                thead
                  tr
                    th.px-5.py-3.border-b-2.border-gray-200.bg-gray-100.text-left.text-xs.font-semibold.text-gray-600.uppercase.tracking-wider.
                      
                      User
                      
                    th.px-5.py-3.border-b-2.border-gray-200.bg-gray-100.text-left.text-xs.font-semibold.text-gray-600.uppercase.tracking-wider.
                      
                      Rol
                      
                    th.px-5.py-3.border-b-2.border-gray-200.bg-gray-100.text-left.text-xs.font-semibold.text-gray-600.uppercase.tracking-wider.
                      
                      Created at
                      
                    th.px-5.py-3.border-b-2.border-gray-200.bg-gray-100.text-left.text-xs.font-semibold.text-gray-600.uppercase.tracking-wider.
                      
                      Status
                      
                tbody
                  tr
                    td.px-5.py-5.border-b.border-gray-200.bg-white.text-sm
                      .flex.items-center
                        .flex-shrink-0.w-10.h-10
                          img.w-full.h-full.rounded-full(src='https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80' alt)
                        .ml-3
                          p.text-gray-900.whitespace-no-wrap.
                            
                            Vera Carpenter
                            
                    td.px-5.py-5.border-b.border-gray-200.bg-white.text-sm
                      p.text-gray-900.whitespace-no-wrap Admin
                    td.px-5.py-5.border-b.border-gray-200.bg-white.text-sm
                      p.text-gray-900.whitespace-no-wrap.
                        
                        Jan 21, 2020
                        
                    td.px-5.py-5.border-b.border-gray-200.bg-white.text-sm
                      span.relative.inline-block.px-3.py-1.font-semibold.text-green-900.leading-tight
                        span.absolute.inset-0.bg-green-200.opacity-50.rounded-full(aria-hidden)
                        span.relative Activo
                  tr
                    td.px-5.py-5.border-b.border-gray-200.bg-white.text-sm
                      .flex.items-center
                        .flex-shrink-0.w-10.h-10
                          img.w-full.h-full.rounded-full(src='https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80' alt)
                        .ml-3
                          p.text-gray-900.whitespace-no-wrap.
                            
                            Blake Bowman
                            
                    td.px-5.py-5.border-b.border-gray-200.bg-white.text-sm
                      p.text-gray-900.whitespace-no-wrap Editor
                    td.px-5.py-5.border-b.border-gray-200.bg-white.text-sm
                      p.text-gray-900.whitespace-no-wrap.
                        
                        Jan 01, 2020
                        
                    td.px-5.py-5.border-b.border-gray-200.bg-white.text-sm
                      span.relative.inline-block.px-3.py-1.font-semibold.text-green-900.leading-tight
                        span.absolute.inset-0.bg-green-200.opacity-50.rounded-full(aria-hidden)
                        span.relative Activo
                  tr
                    td.px-5.py-5.border-b.border-gray-200.bg-white.text-sm
                      .flex.items-center
                        .flex-shrink-0.w-10.h-10
                          img.w-full.h-full.rounded-full(src='https://images.unsplash.com/photo-1540845511934-7721dd7adec3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80' alt)
                        .ml-3
                          p.text-gray-900.whitespace-no-wrap.
                            
                            Dana Moore
                            
                    td.px-5.py-5.border-b.border-gray-200.bg-white.text-sm
                      p.text-gray-900.whitespace-no-wrap Editor
                    td.px-5.py-5.border-b.border-gray-200.bg-white.text-sm
                      p.text-gray-900.whitespace-no-wrap.
                        
                        Jan 10, 2020
                        
                    td.px-5.py-5.border-b.border-gray-200.bg-white.text-sm
                      span.relative.inline-block.px-3.py-1.font-semibold.text-orange-900.leading-tight
                        span.absolute.inset-0.bg-orange-200.opacity-50.rounded-full(aria-hidden)
                        span.relative Suspended
                  tr
                    td.px-5.py-5.bg-white.text-sm
                      .flex.items-center
                        .flex-shrink-0.w-10.h-10
                          img.w-full.h-full.rounded-full(src='https://images.unsplash.com/photo-1522609925277-66fea332c575?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&h=160&w=160&q=80' alt)
                        .ml-3
                          p.text-gray-900.whitespace-no-wrap.
                            
                            Alonzo Cox
                            
                    td.px-5.py-5.bg-white.text-sm
                      p.text-gray-900.whitespace-no-wrap Admin
                    td.px-5.py-5.bg-white.text-sm
                      p.text-gray-900.whitespace-no-wrap Jan 18, 2020
                    td.px-5.py-5.bg-white.text-sm
                      span.relative.inline-block.px-3.py-1.font-semibold.text-red-900.leading-tight
                        span.absolute.inset-0.bg-red-200.opacity-50.rounded-full(aria-hidden)
                        span.relative Inactive
            p.pt-3.text-gray-600
              | Source: 
              a.underline(href='https://tailwindcomponents.com/component/table-responsive-with-filters') https://tailwindcomponents.com/component/table-responsive-with-filters
        footer.w-full.bg-white.text-right.p-4
          | Built by 
          a.underline(target='_blank' href='https://davidgrzyb.com') David Grzyb
          | .
          //  AlpineJS 
          script(src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js' defer)
          //  Font Awesome 
          script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js' integrity='sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=' crossorigin='anonymous')
