doctype html
html(lang='en')
  include common/head.pug
  +head(#{title})
  body.antialiased.bg-body.text-body.font-body
    div
      include common/navbar.pug
      +navbar()
      section
        .skew.skew-top.mr-for-radius
          svg.h-8.md_h-12.lg_h-20.w-full.text-gray-900(viewBox='0 0 10 10' preserveAspectRatio='none')
            polygon(fill='currentColor' points='0 0 10 10 0 10')
        .skew.skew-top.ml-for-radius
          svg.h-8.md_h-12.lg_h-20.w-full.text-gray-900(viewBox='0 0 10 10' preserveAspectRatio='none')
            polygon(fill='currentColor' points='0 10 10 0 10 10')
        .py-20.bg-gray-900.radius-for-skewed
          .container.mx-auto.px-4
            .flex.flex-wrap.items-center.-mx-4
              .mb-12.lg_mb-0.w-full.lg_w-1_2.flex.px-4
                .max-w-md
                  span.text-green-600.font-bold Dolor sit amet consectutar
                  h2.mb-6.text-4xl.lg_text-5xl.font-bold.font-heading.text-white Build & Launch without problems
                  .mb-6.max-w-sm
                    p.text-gray-500.leading-loose Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur nisl sodales egestas lobortis.
                  .flex.flex-wrap.lg_-ml-5
                    button.inline-button.lg_w-auto.py-2.px-6.leading-loose.lg_ml-5.text-gray-50.font-bold.bg-green-600.hover_bg-green-700.transition.duration-200.rounded-l-xl.rounded-t-xl Get Started
              .w-full.lg_w-1_2
                .mb-4.flex.flex-wrap.items-end
                  .mb-4.lg_mb-0.w-full.lg_w-2_3.px-3
                    img.w-full.h-32.lg_h-48.object-cover.rounded(src='https://images.unsplash.com/photo-1604701145653-ab3c97c63467?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80' alt)
                  .w-full.lg_w-1_3.px-3
                    img.w-full.h-32.object-cover.rounded(src='https://images.unsplash.com/photo-1521581171443-58a6b508b9ac?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80' alt)
                .flex.flex-wrap.items-start
                  .mb-4.lg_mb-0.w-full.lg_w-1_3.px-3
                    img.w-full.h-32.object-cover.rounded(src='https://images.unsplash.com/photo-1501706649056-3cb79cccec52?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80' alt)
                  .w-full.lg_w-2_3.px-3
                    img.w-full.h-32.lg_h-48.object-cover.rounded(src='https://images.unsplash.com/photo-1489058535093-8f530d789c3b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80' alt)
        .skew.skew-bottom.mr-for-radius
          svg.h-8.md_h-12.lg_h-20.w-full.text-gray-900(viewBox='0 0 10 10' preserveAspectRatio='none')
            polygon(fill='currentColor' points='0 0 10 0 0 10')
        .skew.skew-bottom.ml-for-radius
          svg.h-8.md_h-12.lg_h-20.w-full.text-gray-900(viewBox='0 0 10 10' preserveAspectRatio='none')
            polygon(fill='currentColor' points='0 0 10 0 10 10')
      section
        .skew.skew-top.mr-for-radius
          svg.h-8.md_h-12.lg_h-20.w-full.text-gray-900(viewBox='0 0 10 10' preserveAspectRatio='none')
            polygon(fill='currentColor' points='0 0 10 10 0 10')
        .skew.skew-top.ml-for-radius
          svg.h-8.md_h-12.lg_h-20.w-full.text-gray-900(viewBox='0 0 10 10' preserveAspectRatio='none')
            polygon(fill='currentColor' points='0 10 10 0 10 10')
        .py-20.bg-gray-900.radius-for-skewed
          .container.mx-auto.px-4
            .flex.flex-wrap.items-center.-mx-4
              .mb-12.lg_mb-0.w-full.lg_w-1_2.px-4
                .max-w-md
                  span.text-green-600.font-bold Dolor sit amet consectutar
                  h2.mb-6.text-4xl.lg_text-5xl.font-bold.font-heading.text-white Build & Launch without problems
                  ul
                    li.flex.mb-4
                      div
                        svg.mr-3.w-8.h-8.text-green-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                          path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4')
                      .max-w-xs
                        h3.font-bold.font-heading.text-white Easy to Customize
                        p.text-gray-500.leading-loose Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    li.flex.mb-4
                      div
                        svg.mr-3.w-8.h-8.text-green-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                          path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4')
                      .max-w-xs
                        h3.font-bold.font-heading.text-white Flexible Software
                        p.text-gray-500.leading-loose Praesent viverra, nisi at placerat placerat, urna elit viverra magna, varius auctor mauris.
                    li.flex
                      div
                        svg.mr-3.w-8.h-8.text-green-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                          path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4')
                      .max-w-xs
                        h3.font-bold.font-heading.text-white Best access for all of the resources
                        p.text-gray-500.leading-loose Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .flex.flex-wrap.items-center.w-full.lg_w-1_2.px-4
                .mb-6.w-full.lg_w-1_2.px-3
                  img.mb-6.w-full.h-64.object-cover.rounded-lg(src='https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80' alt)
                  img.w-full.h-64.object-cover.rounded-lg(src='https://images.unsplash.com/photo-1469827160215-9d29e96e72f4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80' alt)
                .w-full.lg_w-1_2.px-3
                  img.w-full.h-64.object-cover.rounded-lg(src='https://images.unsplash.com/photo-1605201100110-1f07883d2882?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80' alt)
        .skew.skew-bottom.mr-for-radius
          svg.h-8.md_h-12.lg_h-20.w-full.text-gray-900(viewBox='0 0 10 10' preserveAspectRatio='none')
            polygon(fill='currentColor' points='0 0 10 0 0 10')
        .skew.skew-bottom.ml-for-radius
          svg.h-8.md_h-12.lg_h-20.w-full.text-gray-900(viewBox='0 0 10 10' preserveAspectRatio='none')
            polygon(fill='currentColor' points='0 0 10 0 10 10')
      section.py-20.bg-gray-900
        .container.mx-auto.px-4
          .flex.flex-wrap.items-center.justify-center
            .w-auto.bg-gray-800.mb-10.lg_mb-0.lg_mr-8.py-8.px-10.rounded
              img.h-16(src=asset('atis-assets/logo/atis/atis-mono-sign.svg') alt)
            .w-full.lg_w-auto.mb-10.lg_mb-0.text-center.lg_text-left
              h2.max-w-xl.mx-auto.lg_mx-0.mb-2.text-4xl.lg_text-5xl.text-white.font-bold.font-heading Many usefull features
              p.max-w-xl.mx-auto.lg_mx-0.text-gray-500.leading-loose Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur nisl sodales egestas lobortis.
            .w-full.lg_w-auto.lg_ml-auto.text-center
              a.inline-block.py-2.px-6.bg-green-600.hover_bg-green-700.text-white.font-bold.leading-loose.rounded-l-xl.rounded-t-xl.transition.duration-200(href='#') Sign up now
      section
        .skew.skew-top.mr-for-radius
          svg.h-8.md_h-12.lg_h-20.w-full.text-gray-900(viewBox='0 0 10 10' preserveAspectRatio='none')
            polygon(fill='currentColor' points='0 0 10 10 0 10')
        .skew.skew-top.ml-for-radius
          svg.h-8.md_h-12.lg_h-20.w-full.text-gray-900(viewBox='0 0 10 10' preserveAspectRatio='none')
            polygon(fill='currentColor' points='0 10 10 0 10 10')
        .py-20.bg-gray-900.radius-for-skewed
          .container.mx-auto.px-4
            .mb-16.max-w-md.mx-auto.text-center
              span.text-green-600.font-bold Dolor sit amet consectutar
              h2.text-4xl.lg_text-5xl.font-bold.font-heading.text-white Build & Launch without problems
            .flex.flex-wrap.-mx-3
              .mb-6.w-full.lg_w-1_2.px-3
                .p-6.flex.flex-wrap.bg-gray-800.shadow-md.rounded-lg
                  div
                    span.mb-4.lg_mb-0.mr-6.inline-block.p-3.md_p-5.rounded-lg.bg-green-800
                      svg.h-8.w-8.md_w-12.md_h-12.text-green-500(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z')
                  .w-full.lg_w-2_3
                    h3.mb-2.text-2xl.font-bold.font-heading.text-white Ut congue nec leo eget
                    p.text-gray-500 Donec ut ligula nunc. Mauris blandit vel est et facilisis. Integer sapien felis, aliquet.
              .mb-6.w-full.lg_w-1_2.px-3
                .p-6.flex.flex-wrap.bg-gray-800.shadow-md.rounded-lg
                  div
                    span.mb-4.lg_mb-0.mr-6.inline-block.p-3.md_p-5.rounded-lg.bg-green-800
                      svg.h-8.w-8.md_w-12.md_h-12.text-green-500(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor')
                        path(d='M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z')
                  .w-full.lg_w-2_3
                    h3.mb-2.text-2xl.font-bold.font-heading.text-white Lorem ipsum dolor sit amet
                    p.text-gray-500 Donec ut ligula nunc. Mauris blandit vel est et facilisis. Integer sapien felis, aliquet.
              .mb-6.lg_mb-0.w-full.lg_w-1_2.px-3
                .p-6.flex.flex-wrap.bg-gray-800.shadow-md.rounded-lg
                  div
                    span.mb-4.lg_mb-0.mr-6.inline-block.p-3.md_p-5.rounded.bg-green-800
                      svg.h-8.w-8.md_w-12.md_h-12.text-green-500(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M16 4v12l-4-2-4 2V4M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z')
                  .w-full.lg_w-2_3
                    h3.mb-2.text-2xl.font-bold.font-heading.text-white Morbi sagittis ligula sit
                    p.text-gray-500 Donec ut ligula nunc. Mauris blandit vel est et facilisis. Integer sapien felis, aliquet.
              .w-full.lg_w-1_2.px-3
                .p-6.flex.flex-wrap.bg-gray-800.shadow-md.rounded-lg
                  div
                    span.mb-4.lg_mb-0.mr-6.inline-block.p-3.md_p-5.rounded.bg-green-800
                      svg.h-8.w-8.md_w-12.md_h-12.text-green-500(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor')
                        path(fill-rule='evenodd' d='M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z' clip-rule='evenodd')
                        path(d='M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z')
                  .w-full.lg_w-2_3
                    h3.mb-2.text-2xl.font-bold.font-heading.text-white Proin fringilla eleifend justo
                    p.text-gray-500 Donec ut ligula nunc. Mauris blandit vel est et facilisis. Integer sapien felis, aliquet.
        .skew.skew-bottom.mr-for-radius
          svg.h-8.md_h-12.lg_h-20.w-full.text-gray-900(viewBox='0 0 10 10' preserveAspectRatio='none')
            polygon(fill='currentColor' points='0 0 10 0 0 10')
        .skew.skew-bottom.ml-for-radius
          svg.h-8.md_h-12.lg_h-20.w-full.text-gray-900(viewBox='0 0 10 10' preserveAspectRatio='none')
            polygon(fill='currentColor' points='0 0 10 0 10 10')
      section.py-20.bg-gray-900
        .container.mx-auto.px-4
          .flex.flex-wrap.items-center.justify-center.-mx-4
            .w-full.lg_w-1_2.px-4.order-1.lg_order-0
              h2.mb-4.text-4xl.md_text-5xl.text-white.font-bold.font-heading So much more than a business analytics tool
              p.mb-8.text-gray-500.leading-loose Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur nisl sodales egestas lobortis.
              a.inline-block.py-2.px-6.bg-green-600.hover_bg-green-700.text-white.font-bold.leading-loose.rounded-l-xl.rounded-t-xl.transition.duration-200(href='#') Sign up now
            .w-full.lg_w-1_2.px-4.order-0.lg_order-1.mb-8.lg_mb-0
              img(src=asset('atis-assets/illustrations/pablo-coming-soon-dark-mono.png') alt)
